#
# Ejemplo de configuracion para un proyecto tipo
#

#
# Tipicamente solo se configura la BD
#
spring.datasource.url=jdbc\:postgresql\://localhost\:5432/wilson
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.username=postgres
spring.datasource.password=postgres

# Requisitos para Java 11 y Spring Boot 2
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true
spring.jpa.properties.hibernate.enable_lazy_load_no_trans=true

# Data used by the scheduler Worker to Login to a JWT secured server
# Cron String to define how often is the Login service reached
scheduler.login.cron.timer=*/5 * * * * *
scheduler.login.url=http://localhost:8085/api/login
scheduler.login.username=admin
scheduler.login.password=123456