#
# Ejemplo de configuracion para un proyecto tipo
#

#
# Tipicamente solo se configura la BD
#
spring.datasource.url=jdbc\:postgresql\://localhost\:5432/wilson
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.username=postgres
spring.datasource.password=postgres

# Requisitos para Java 11 y Spring Boot 2
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true
spring.jpa.properties.hibernate.enable_lazy_load_no_trans=true

# Data used by the scheduler Worker to Login to a JWT secured server
# Cron String to define how often is the Login service reached
scheduler.login.cron.timer=*/30 * * * * *
scheduler.update.read.cache.cron.timer=*/5 * * * * *
scheduler.execute.write.cache.cron.timer=*/5 * * * * *
scheduler.login.url=http://localhost:9090/api/login
scheduler.access.token.url=http://localhost:9090/api/token/user-access
scheduler.login.username=admin
scheduler.login.password=123456

# Wilson's MongoDB database parameters
wilson.mongodb.database.host=127.0.0.1
# Port 27017 is the default MongoDB port
wilson.mongodb.database.port=27017
wilson.mongodb.database.name=Wilson

# Backend Base URL that Wilson communicates with, every RESOURCE field in a defined operation will form the full URL
# by combining: {wilson.backend.base.url}{resource}
wilson.backend.base.url=http://localhost:9090
